<div class="itemsbox">
  <% @potluck.items.each do |item| %>
    <% if item.user == current_user %>
      <div class="row"><%=link_to item.name, potluck_item_path(@potluck, item)%> | <%=item.user.name%></div>
    <% else %>
    <div class="row"><%=item.name%> | <%=item.user.name%></div>
    <% end %>
  <% end %>
</div>
