<%= render 'application/title' %>
<div class="container">
  <div class="row justify-content-center display-item">
    <div class="col-sm-12">
      <div class="row">You are planning to take this item to <%= @item.potluck.name %></div>
      <div class="row">
        <%= form_tag potluck_item_path(@item), method: "delete" do %>
          <input type=submit value='Delete'>
        <% end %>
      </div>
    </div>
  </div>
</div>
