.logo {
  text-align: center;
  font-size: 40px;
}

.potluck_p {
  font-weight: bold;
  color: #31708E;
}

.potluck_o {
  color: #17E9E0;
}

.potluck_t {
  color: #3B945E;
}

.potluck_l {
  color: #F172A1;
}

.potluck_u {
  color: #B39BC8;
}

.potluck_c {
  color: #1F6521;
}

.potluck_k {
  color: #D6CE15;
}

.potluck_n {
  font-weight: bold;
  color: #222629;
}

.potluck_e {
  color: #86C232;
}

.potluck_x {
  color: #FAED26;
}

.potluck_t {
  color: #A64AC9;
}

.sub-logo {
  font-size: 20px;
  color: #31708E;
  text-align: center;
}

.header {
  font-family: Garamond;
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-button {
  border-radius: 25px;
  color: grey;
  font-weight: bold;
  margin-top: 5px;
}

.login-form {
  margin-top: 10%;
  margin-bottom: 10%;
}

.sign-up-info {
  margin-left: 10%;
}
