.new-potluck-form {
  margin-top: 10%;
}

.create-potluck-button-row {
  margin-top: 10px;
}

.potlucks-header {
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  font-family: Garamond;
  font-size: 26px;
  line-height: 150%;
}

.potlucks-box {
  margin-left: 10%;
  margin-bottom: 5%;
}

.potlucks-footer {
  margin-left: 10%;
  margin-bottom: 5px;
}

.potluck {
  margin-bottom: 10px;
}

.potluck-name {
  font-family: Garamond;
  font-size: 20px;
  line-height: 150%;
}

.potluck-details {
  font-family: Garamond;
  font-size: 18px;
  line-height: 150%;
}

.italicize {
  font-style: italic;
}

.potluck-details-label {
  font-family: Garamond;
  font-size: 16px;
  line-height: 150%;
  color: grey;
}

.potluck-details-content {
  font-family: Garamond;
  font-size: 16px;
  line-height: 150%;
}

.potluck-show-box {
  margin-top: 5%;
  margin-left: 10%; 
}
