.new-potluck-form {
  margin-top: 10%;
}

.create-potluck-button-row {
  margin-top: 10px;
}

.potlucks-greeting {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: Garamond;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
}

.potlucks-box {
  margin-left: 10%;
  margin-bottom: 5%;
}

.potluck-show {
  margin-top: 40px;
}

.potlucks-footer {
  margin-left: 10%;
  margin-bottom: 5px;
}

.potluck {
  margin-bottom: 10px;
}

.potluck-name {
  font-family: Garamond;
  font-size: 20px;
  line-height: 150%;
}

.potluck-details {
  font-family: Garamond;
  font-size: 18px;
  line-height: 150%;
}

.italicize {
  font-style: italic;
}

.potluck-details-label {
  font-family: Garamond;
  font-size: 16px;
  line-height: 150%;
  color: grey;
}

.potluck-details-content {
  font-family: Garamond;
  font-size: 16px;
  line-height: 150%;
}

.potluck-show-box {
  margin-top: 10%;
  margin-left: 10%;
}

.edit-potluck-link {
  margin-top: 5%;
}

.potluck-show-item-headlines {
  font-family: Garamond;
  font-size: 24px;
  line-height: 200%;
  margin-bottom: 20px;
}

.items-show-box {
  margin-top: 10%;
  margin-left: 10%;
}

.add-new-item-link {
  margin-top: 20px;
  font-size: 18px;
}

.display-item {
  margin-top: 5%;
}
