<div class="container">
  <div class="row text-center header">
    <div class="col-sm-12">
      <div class="app-name">
        <span class="potluck_p">P</span>
        <span class="potluck_o">o</span>
        <span class="potluck_t">t</span>
        <span class="potluck_l">l</span>
        <span class="potluck_u">u</span>
        <span class="potluck_c">c</span>
        <span class="potluck_k">k</span>
        <span class="potluck_n">N</span>
        <span class="potluck_e">e</span>
        <span class="potluck_x">x</span>
        <span class="potluck_t">t</span>
      </div>
      <div class="app-description">
        <strong>|</strong> Plan your next potluck <strong>|</strong>
      </div>
    </div>
  </div>
</div>
